node_modules
dist
.data
.nitro
.cache
.output
.env.local
.derivedData
images
data
output

 Xcode user state
*.xcuserstate

# Xcode user data
/ios/Canvas/Canvas.xcodeproj/xcuserdata/

# Derived data
DerivedData/

# SwiftPM
.build/
